Repository webanno/webanno, pull requests merged in 2018-09, with the labels that each got.

#1031 Add check for multiple ingoing edges
  webanno-diag/pom.xml
  webanno-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/checks/NoMultipleIncomingRelationsCheck.java
  webanno-diag/src/main/resources/META-INF/asciidoc/developer-guide/casdoctor.adoc
  webanno-diag/src/test/java/de/tudarmstadt/ukp/clarin/webanno/diag/checks/NoMultipleIncomingRelationsCheckTest.java
Labels: Module: CAS Doctor, 🆕Enhancement

#1048 #1047 - Add support for the CoreNLP CoNLL flavor
  webanno-io-conll/pom.xml
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/ConllCoreNlpReader.java
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/ConllCoreNlpWriter.java
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/sequencecodec/AdjacentLabelCodec.java
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/sequencecodec/SequenceCodec.java
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/sequencecodec/SequenceItem.java
  webanno-io-conll/src/test/java/de/tudarmstadt/ukp/clarin/webanno/conll/ConllCoreNlpReaderWriterTest.java
  webanno-io-conll/src/test/java/de/tudarmstadt/ukp/clarin/webanno/conll/sequencecodec/AdjacentLabelCodecTest.java
  webanno-io-conll/src/test/java/de/tudarmstadt/ukp/clarin/webanno/conll/sequencecodec/SequenceItemTest.java
  webanno-io-conll/src/test/resources/conll/corenlp/en-orig.conll
  webanno-io-conll/src/test/resources/conll/corenlp/en-ref.conll
  webanno-webapp/src/main/resources/META-INF/formats.properties
Labels: Module: Import/export, 🆕Enhancement

#1051 Feature/1050 refactor format supports
  pom.xml
  webanno-api-dao/pom.xml
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/ImportExportServiceImpl.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/AnnotationDocumentExporter.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/CuratedDocumentsExporter.java
  webanno-api-formats/LICENSE.txt
  webanno-api-formats/pom.xml
  webanno-api-formats/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/format/FormatSupport.java
  webanno-api-formats/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/format/FormatSupportDescription.java
  webanno-api/pom.xml
  webanno-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/ImportExportService.java
  webanno-doc/src/main/resources/META-INF/asciidoc/admin-guide/upgrade.adoc
  webanno-export/pom.xml
  webanno-export/src/main/java/de/tudarmstadt/ukp/clarin/webanno/export/ExportUtil.java
  webanno-io-conll/pom.xml
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/Conll2000FormatSupport.java
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/Conll2002FormatSupport.java
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/Conll2006FormatSupport.java
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/Conll2009FormatSupport.java
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/ConllCoreNlpFormatSupport.java
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/ConllUFormatSupport.java
  webanno-io-json/pom.xml
  webanno-io-json/src/main/java/de/tudarmstadt/ukp/clarin/webanno/json/JsonFormatSupport.java
  webanno-io-tcf/pom.xml
  webanno-io-tcf/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tcf/TcfFormatSupport.java
  webanno-io-tei/pom.xml
  webanno-io-tei/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tei/TeiFormatSupport.java
  webanno-io-text/pom.xml
  webanno-io-text/src/main/java/de/tudarmstadt/ukp/clarin/webanno/text/LineOrientedTextFormatSupport.java
  webanno-io-text/src/main/java/de/tudarmstadt/ukp/clarin/webanno/text/TextFormatSupport.java
  webanno-io-tsv/pom.xml
  webanno-io-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv1FormatSupport.java
  webanno-io-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv2FormatSupport.java
  webanno-io-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3FormatSupport.java
  webanno-io-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3LegacyFormatSupport.java
  webanno-io-xmi/pom.xml
  webanno-io-xmi/src/main/java/de/tudarmstadt/ukp/clarin/webanno/xmi/BinaryCasFormatSupport.java
  webanno-io-xmi/src/main/java/de/tudarmstadt/ukp/clarin/webanno/xmi/XmiFormatSupport.java
  webanno-remote/pom.xml
  webanno-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/RemoteApiController.java
  webanno-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/RemoteApiController2.java
  webanno-remote/src/test/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/RemoteApiController2Test.java
  webanno-ui-annotation/pom.xml
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/ExportDocumentDialogContent.java
  webanno-ui-automation/pom.xml
  webanno-ui-automation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/automation/project/ProjectTrainingDocumentsPanel.java
  webanno-ui-project/pom.xml
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/ImportDocumentsPanel.java
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/export/ProjectExportPanel.java
  webanno-webapp/pom.xml
  webanno-webapp/src/main/resources/META-INF/application-context.xml
  webanno-webapp/src/main/resources/META-INF/formats.properties
Labels: ⚙️Refactoring

#1052 #1049 - NoMultipleIncomingRelationsCheck reports at ERROR level
  webanno-diag/pom.xml
  webanno-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/CasDoctor.java
  webanno-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/checks/NoMultipleIncomingRelationsCheck.java
  webanno-diag/src/test/java/de/tudarmstadt/ukp/clarin/webanno/diag/checks/NoMultipleIncomingRelationsCheckTest.java
Labels: Module: CAS Doctor, 🆕Enhancement
