Repository webanno/webanno, pull requests merged in 2019-06, with the labels that each got.

#1332 #1331 - Allow custom relations on built-in layers
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/LayerDetailForm.java
Labels: Module: Settings, Requested, 🆕Enhancement

#1336 #726 - Whitespace treated incorrectly at the end of spans in TSV3X exporter
  webanno-io-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/internal/tsv3x/Tsv3XCasDocumentBuilder.java
  webanno-io-tsv/src/main/resources/META-INF/asciidoc/user-guide/webannotsv.adoc
  webanno-io-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3ReaderWriterRoundTripTest.java
  webanno-io-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3WriterTest.java
  webanno-io-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3WriterTestBase.java
  webanno-io-tsv/src/test/resources/tsv3-suite/testAnnotationWithLeadingWhitespace/reference.tsv
  webanno-io-tsv/src/test/resources/tsv3-suite/testAnnotationWithLeadingWhitespaceAtStart/reference.tsv
  webanno-io-tsv/src/test/resources/tsv3-suite/testAnnotationWithTrailingWhitespace/reference.tsv
  webanno-io-tsv/src/test/resources/tsv3-suite/testAnnotationWithTrailingWhitespaceAtEnd/reference.tsv
Labels: Module: TSV, Requested, 🐛Bug

#1337 Feature/1330 backup parameters misinterpreted as milliseconds
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/CasStorageServiceImpl.java
Labels: 🐛Bug

#1329 #467 Ability to view other annotator's work in Annotation Page
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/event/DocumentOpenedEvent.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/page/AnnotationPageBase.java
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/wicket/OverviewListChoice.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/component/DocumentNamePanel.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationFeatureForm.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/OpenDocumentDialogPanel.html
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/OpenDocumentDialogPanel.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/OpenDocumentDialogPanel.properties
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_open.adoc
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/images/open_doc.png
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/images/open_doc_manager.png
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/images/version3_annotation1.png
Labels: Module: Annotation, Requested, 🆕Enhancement, 🕶️UX
