Repository webanno/webanno, pull requests merged in 2019-08, with the labels that each got.

#1385 #1384 - Zero-width annotations in pre-/post-/inter-token space crash TSV export
  webanno-io-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/internal/tsv3x/Tsv3XCasDocumentBuilder.java
  webanno-io-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3ReaderWriterRoundTripTest.java
  webanno-io-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3WriterTest.java
  webanno-io-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3WriterTestBase.java
  webanno-io-tsv/src/test/resources/tsv3-suite/testZeroWidthAnnotationBeforeFirstTokenIsMovedToBeginOfFirstToken/reference.tsv
  webanno-io-tsv/src/test/resources/tsv3-suite/testZeroWidthAnnotationBeforeFirstTokenIsMovedToBeginOfFirstToken/reference.xmi
  webanno-io-tsv/src/test/resources/tsv3-suite/testZeroWidthAnnotationBetweenTokenIsMovedToEndOfPreviousToken/reference.tsv
  webanno-io-tsv/src/test/resources/tsv3-suite/testZeroWidthAnnotationBetweenTokenIsMovedToEndOfPreviousToken/reference.xmi
  webanno-io-tsv/src/test/resources/tsv3-suite/testZeroWidthAnnotationBeyondLastTokenIsMovedToEndOfLastToken/reference.tsv
  webanno-io-tsv/src/test/resources/tsv3-suite/testZeroWidthAnnotationBeyondLastTokenIsMovedToEndOfLastToken/reference.xmi
Labels: Module: TSV, 🐛Bug

#1387 #1386 - Improve TSV export times by skipping non-exported layers
  webanno-io-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/internal/tsv3x/Tsv3XCasDocumentBuilder.java
  webanno-io-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/internal/tsv3x/Tsv3XCasSchemaAnalyzer.java
  webanno-io-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/internal/tsv3x/model/TsvSchema.java
Labels: Module: TSV, ⚙️Refactoring

#1392 Feature/1381 modularize cas diff code
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/agreement/AgreementUtils.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/CasDiff.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/LinkCompareBehavior.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/LinkFeatureDecl.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/api/CasDiffException.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/api/DiffAdapter.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/api/DiffAdapter_ImplBase.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/api/Position.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/api/Position_ImplBase.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/internal/AID.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/relation/RelationDiffAdapter.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/relation/RelationPosition.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/span/SpanDiffAdapter.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/span/SpanPosition.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/CasMerge.java
  webanno-curation/src/test/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/CasDiffTest.java
  webanno-curation/src/test/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/CasMergeSuiteTest.java
  webanno-curation/src/test/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/CasMergeTest.java
  webanno-curation/src/test/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/CasMergeTestBase.java
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/SuggestionViewPanel.java
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/model/SuggestionBuilder.java
  webanno-ui-monitoring/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/monitoring/page/AgreementPage.java
  webanno-ui-monitoring/src/test/java/de/tudarmstadt/ukp/clarin/webanno/monitoring/statistics/TwoPairedKappaTest.java
Labels: Module: Curation, ⚙️Refactoring

#1398 #1397 - Switch to JQuery v3
  webanno-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/WicketApplicationBase.java
Labels: ⚙️Refactoring

#1402 #1368 - PF4J-based plugin system
  pom.xml
  webanno-plugin-api/LICENSE.txt
  webanno-plugin-api/pom.xml
  webanno-plugin-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/plugin/api/ExportedComponent.java
  webanno-plugin-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/plugin/api/ExportedComponentPostProcessor.java
  webanno-plugin-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/plugin/api/Plugin.java
  webanno-plugin-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/plugin/api/PluginManager.java
  webanno-plugin-manager/LICENSE.txt
  webanno-plugin-manager/pom.xml
  webanno-plugin-manager/src/main/java/de/tudarmstadt/ukp/clarin/webanno/plugin/impl/PluginManagerImpl.java
  webanno-plugin-parent/LICENSE.txt
  webanno-plugin-parent/pom.xml
  webanno-webapp/pom.xml
  webanno-webapp/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/WebAnno.java
Labels: Module: Plugin system, 🆕Enhancement

#1407 #1406 BooleanFeature Editor does not render
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/BooleanFeatureEditor.java
Labels: Module: Annotation, 🐛Bug

#1408 Feature/1197 codebook annotation support
  webanno-io-csv/pom.xml
  webanno-io-csv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/csv/WebAnnoCsvReader.java
  webanno-io-csv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/csv/WebannoCsvWriter.java
  webanno-io-csv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/csv/WebAnnoCsvReaderWriterTest.java
  webanno-io-csv/src/test/resources/desc/type/webannoTestTypes.xml
  webanno-io-csv/src/test/resources/example.csv
  webanno-io-csv/src/test/resources/log4j.properties
  webanno-io-csv/src/test/resources/log4j2.xml
  webanno-io-csv/suppressions.xml
Labels: Module: Codebook, 🆕Enhancement

#1415 #1414 - Performance improvements for curation mode
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/util/WebAnnoCasUtil.java
  webanno-curation/pom.xml
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/CasDiff.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/CasMerge.java
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/SuggestionViewPanel.java
Labels: Module: Curation, ⚙️Refactoring

#1416 #1413 - Telemetry sent one last time when it is disabled
  webanno-telemetry/src/main/java/de/tudarmstadt/ukp/clarin/webanno/telemetry/TelemetryServiceImpl.java
  webanno-telemetry/src/main/java/de/tudarmstadt/ukp/clarin/webanno/telemetry/event/TelemetrySettingsSavedEvent.java
  webanno-telemetry/src/main/java/de/tudarmstadt/ukp/clarin/webanno/telemetry/matomo/MatomoTelemetrySupportImpl.java
Labels: 🐛Bug
