Repository webanno/webanno, pull requests merged in 2019-09, with the labels that each got.

#1412 #1411 - Delete button for LinkFeatureEditor missing
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
Labels: Module: Annotation, 🐛Bug

#1418 #1417 - Feature editors missing form-control CSS class
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/BooleanFeatureEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/ClassicKendoComboboxTextFeatureEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/InputFieldTextFeatureEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/KendoAutoCompleteTextFeatureEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/KendoComboboxTextFeatureEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/NumberFeatureEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/NumberFeatureEditor.java
Labels: Module: Annotation, 🐛Bug

#1423 #1422 - Cannot open correction or automation page
  webanno-ui-automation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/automation/page/AutomationPage.html
  webanno-ui-correction/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/correction/CorrectionPage.html
Labels: Module: Automation, Module: Correction, 🐛Bug

#1425 #1414 - Performance improvements for curation mode
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/util/WebAnnoCasUtil.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/CasMerge.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
Labels: Module: Curation, ⚙️Refactoring

#1426 #1424 - Cannot reset document in correction mode
  webanno-brat/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/util/BratAnnotatorUtility.java
Labels: Module: Correction, 🐛Bug

#1428 #1427 - Sentences list jumps back to top again
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/CurationPanel.html
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/CurationPanel.java
Labels: Module: Curation, 🐛Bug

#1429 #1301 - Error on curation page when all annotators are removed from a project
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
Labels: Module: Curation, 🐛Bug

#1431 #1430 - Out of tagset tag crashes curation
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/exception/IllegalFeatureValueException.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/CasMerge.java
Labels: Module: Curation, 🐛Bug

#1438 #1437 - Add Conll 2003 support
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/Conll2003FormatSupport.java
Labels: 🆕Enhancement

#1421 #1420 - Hide layer in Annotation UI if only one layer is available
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.html
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationFeatureForm.java
Labels: Module: Annotation, 🆕Enhancement, 🕶️UX

#1440 #1439 - selectSingleAt throws exception instead of returning null
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/util/WebAnnoCasUtil.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
Labels: 🐛Bug

#1442 #1345 - Viewing documents changes state
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/DocumentServiceImpl.java
  webanno-model/src/main/java/de/tudarmstadt/ukp/clarin/webanno/model/AnnotationDocument.java
  webanno-remote/src/test/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/RemoteApiController2Test.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  webanno-ui-automation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/automation/page/AutomationPage.java
  webanno-ui-correction/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/correction/CorrectionPage.java
Labels: Module: Annotation, 🐛Bug

#1447 #1446 - Ping should ignore expired sessions
  webanno-telemetry/src/main/java/de/tudarmstadt/ukp/clarin/webanno/telemetry/matomo/MatomoTelemetrySupportImpl.java
Labels: 🐛Bug

#1450 #194 - Improve documentation of constraints
  webanno-constraints/pom.xml
  webanno-constraints/src/main/resources/META-INF/asciidoc/user-guide/constraints.adoc
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/ComplexTypeTest.java
  webanno-constraints/src/test/resources/desc/types/TestTypeSystemDescriptor.xml
  webanno-constraints/src/test/resources/rules/region.rules
Labels: Module: Constraints, 🆕Enhancement

#1443 #1441 - Make set and delete buttons for LinkFeatures usable outside the annotation sidebar
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/event/LinkFeatureDeletedEvent.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/event/LinkFeatureEvent.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/event/LinkFeatureSetEvent.java
  webanno-ui-annotation/pom.xml
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
Labels: Module: Annotation, ⚙️Refactoring

#1458 #1454 - Support CoNLL 2012 format
  webanno-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/Conll2012FormatSupport.java
Labels: 🆕Enhancement

#1459 #1353 - Keyboard and Open Document
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/OpenDocumentDialog.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/OpenDocumentDialogPanel.html
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/OpenDocumentDialogPanel.java
Labels: Module: Annotation, 🆕Enhancement, 🕶️UX

#1462 #1353 - Keyboard and Open Document
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/wicket/DecoratedObject.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/OpenDocumentDialogPanel.html
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/OpenDocumentDialogPanel.java
Labels: Module: Annotation, 🆕Enhancement, 🕶️UX

#1463 #1247 - Upgrade dependencies (3.6.0)
  pom.xml
Labels: ⚙️Refactoring
