Repository webanno/webanno, pull requests merged in 2019-10, with the labels that each got.

#1466 #1465 - Selected default layer is not a span layer
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/AnnotatorStateImpl.java
Labels: Module: Annotation, 🐛Bug

#1457 #1455 - Larger string input features for annotations
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/PrimitiveUimaFeatureSupport.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/TextAreaFeatureEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/TextAreaFeatureEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/UimaStringTraits.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/UimaStringTraitsEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/UimaStringTraitsEditor.java
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations_primitive-features.adoc
  webanno-ui-project/src/main/resources/META-INF/asciidoc/user-guide/projects_layers.adoc
Labels: Module: Settings, 🆕Enhancement

#1470 #1468 - Curatable documents are not shown
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/OpenDocumentDialogPanel.java
Labels: Module: Curation, 🐛Bug

#1473 #1472 - Upgrade dependencies (4.0.0)
  pom.xml
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/actionbar/export/ExportDocumentDialogContent.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureTraitsEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/UimaStringTraitsEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationPreferencesDialogContent.java
  webanno-plugin-manager/pom.xml
  webanno-support/pom.xml
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/BootstrapSelect.java
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/BootstrapSelectBehavior.java
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/BootstrapSelectConfig.java
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/SelectCSSReference.java
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/SelectJSReference.java
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/css/bootstrap-select.css
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/css/bootstrap-select.css.map
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/css/bootstrap-select.min.css
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/js/bootstrap-select.js
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/js/bootstrap-select.js.map
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/select/js/bootstrap-select.min.js
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationFeatureForm.java
  webanno-ui-automation/pom.xml
  webanno-ui-automation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/automation/project/ProjectMiraTemplatePanel.java
  webanno-ui-automation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/automation/project/ProjectTrainingDocumentsPanel.java
  webanno-ui-monitoring/pom.xml
  webanno-ui-monitoring/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/monitoring/page/AgreementPage.java
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/detail/ProjectDetailPanel.java
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/ImportDocumentsPanel.java
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/export/ProjectExportPanel.java
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/FeatureDetailForm.java
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/LayerDetailForm.java
  webanno-ui-tagsets/pom.xml
  webanno-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSetEditorPanel.java
  webanno-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSetImportPanel.java
  webanno-webapp/pom.xml
  webanno-webapp/src/main/resources/application.properties
Labels: ⚙️Refactoring

#1453 #1452 - Option to create annotation links without role label
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureTraits.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureTraitsEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureTraitsEditor.java
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations_link-features.adoc
  webanno-ui-project/src/main/resources/META-INF/asciidoc/user-guide/projects_layers.adoc
Labels: Module: Settings, 🆕Enhancement

#1481 #1480 - AnnotatorState does not send RenderSlotsEvent on clear
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/AnnotatorStateImpl.java
Labels: Module: Annotation, 🐛Bug

#1482 #1467 - Modularize agreement
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/AnnotationSchemaService.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/AnnotationSchemaServiceImpl.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/CasDiff.java
  webanno-ui-monitoring/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/monitoring/page/AgreementPage.java
  webanno-ui-monitoring/src/main/resources/META-INF/asciidoc/user-guide/agreement.adoc
Labels: Module: Agreement, 🆕Enhancement

#1484 #1483 - Crash when modifying annotations while slot is armed
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/RatingFeatureEditor.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
Labels: Module: Annotation, 🐛Bug

#1491 #1489 - Add repair which clear up deleted but still attached annotations
  webanno-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/repairs/RemoveDanglingFeatureAttachedSpanAnnotationsRepair.java
  webanno-diag/src/main/resources/META-INF/asciidoc/user-guide/casdoctor.adoc
Labels: Module: CAS Doctor, 🆕Enhancement

#1490 #1488 - Curated documents are not imported
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/AnnotationDocumentExporter.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/CuratedDocumentsExporter.java
Labels: Module: Import/export, 🐛Bug

#1497 #1494 - Merge/collapse relationship arcs
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/AnnotationPreference.java
  webanno-brat/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratAnnotationEditor.java
  webanno-brat/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/message/GetCollectionInformationResponse.java
  webanno-brat/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/message/VisualOptions.java
  webanno-brat/src/test/resources/output_cas_to_json_collection_expected.json
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/AnnotationPreferencesDialogContent.html
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/AnnotationPreferencesDialogContent.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/dialog/AnnotationPreferencesDialogContent.properties
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_settings.adoc
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/images/annotation_settings.png
Labels: Module: Annotation, 🆕Enhancement

#1498 #1496 - Focusing Rating Editor breaks updating of other features
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/BooleanFeatureEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/FeatureEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/RatingFeatureEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/RatingFeatureEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/TextFeatureEditorBase.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationFeatureForm.java
Labels: Module: Annotation, 🐛Bug

#1499 Feature/1488 curated documents are not imported
  .gitattributes
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/ProjectExportServiceImpl.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/AnnotationDocumentExporter.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/CuratedDocumentsExporter.java
  webanno-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/AnnotationDocumentsExporterTest.java
  webanno-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/CuratedDocumentsExporterTest.java
  webanno-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/LayerExporterTest.java
  webanno-api-dao/src/test/resources/exports/Export+Test+-+Curated+annotation+project_3_6_1.zip
  webanno-api-dao/src/test/resources/exports/Export+Test+-+Curated+correction+project_3_4_8.zip
  webanno-api-dao/src/test/resources/exports/Export+Test+-+Curated+correction+project_3_6_1.zip
  webanno-api-dao/src/test/resources/log4j2.xml
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/export/ProjectExportPanel.java
  webanno-ui-project/src/main/resources/META-INF/asciidoc/user-guide/projects_export.adoc
Labels: Module: Import/export, 🐛Bug

#1501 #1500 - RepositoryProperties not moved for Tests
  webanno-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/AnnotationDocumentsExporterTest.java
  webanno-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/CuratedDocumentsExporterTest.java
Labels: 🐛Bug
