Repository webanno/webanno, pull requests merged in 2019-07, with the labels that each got.

#1347 Extend documentation on developing custom behaviors
  webanno-api-annotation/src/main/resources/META-INF/asciidoc/developer-guide/annotation-schema-layer-behavior-extensions.adoc
Labels: Module: Annotation, 📖Documentation

#1352 #1351 - Invalidate session when logging in
  webanno-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/SpringAuthenticatedWebSession.java
Labels: ⚙️Refactoring

#1358 #1357 - Tagset module lacks wicket marker
  webanno-ui-tagsets/LICENSE.txt
  webanno-ui-tagsets/marker-wicket-module
Labels: 🐛Bug

#1360 #1359 - Concurrent modification error when resetting document
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/DocumentServiceImpl.java
Labels: Module: Annotation, 🐛Bug

#1362 #1361 - docker-compose instructions do not work
  webanno-constraints/src/main/resources/META-INF/asciidoc/user-guide/constraints.adoc
  webanno-diag/src/main/resources/META-INF/asciidoc/user-guide/casdoctor.adoc
  webanno-doc/pom.xml
  webanno-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_docker.adoc
  webanno-doc/src/main/resources/META-INF/asciidoc/admin-guide/scripts/docker-compose.yml
  webanno-doc/src/test/java/de/tudarmstadt/ukp/clarin/webanno/doc/GenerateDocumentation.java
  webanno-webapp/src/main/docker/README
  webanno-webapp/src/main/docker/docker-compose.yml
Labels: 📖Documentation

#1367 #1366 - XMI files again not read leniently
  webanno-io-xmi/src/main/java/de/tudarmstadt/ukp/clarin/webanno/xmi/XmiFormatSupport.java
Labels: Module: Import/export, 🐛Bug

#1363 #1355 Add a setting to hide the usernames from the dropdown list
  webanno-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_general.adoc
  webanno-ui-project/pom.xml
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/users/UserSelectionPanel.java
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/users/UserSelectionPanelConfiguration.java
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/users/UserSelectionPanelConfigurationImpl.java
  webanno-ui-project/src/main/resources/META-INF/asciidoc/user-guide/images/new_userPermissions.jpg
  webanno-ui-project/src/main/resources/META-INF/asciidoc/user-guide/images/new_userSelection.jpg
  webanno-ui-project/src/main/resources/META-INF/asciidoc/user-guide/projects_users.adoc
Labels: Module: Settings, 🆕Enhancement

#1369 #1338 - Relation feature is not saved when pressing enter
  webanno-api-annotation/pom.xml
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/BooleanFeatureEditor.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/InputFieldTextFeatureEditor.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.html
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationFeatureForm.java
Labels: Module: Annotation, 🐛Bug

#1375 #1376 - Fix a few typos in the documentation
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations.adoc
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations_span.adoc
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations_span_forward.adoc
  webanno-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_settings.adoc
  webanno-ui-core/src/main/resources/META-INF/asciidoc/user-guide/login.adoc
Labels: 🐛Bug, 📖Documentation

#1379 #1378 - Enable document annotation link features
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/SlotFeatureSupport.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
Labels: Module: Annotation, ⚙️Refactoring
