Repository webanno/webanno, pull requests merged in 2020-01, with the labels that each got.

#1396 #1370 Support curation from annotationpage in INCEpTION
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorExtensionRegistry.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorExtensionRegistryImpl.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/actionbar/open/OpenDocumentDialogPanel.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/KendoComboboxTextFeatureEditor.html
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/AnnotatorState.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/AnnotatorStateImpl.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/VID.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/page/AnnotationPageBase.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/SpanRenderer.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/model/VArc.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/model/VDocument.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/model/VObject.java
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/model/VSpan.java
  webanno-api-annotation/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/VIDTest.java
  webanno-brat/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratAnnotationEditor.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/CasMerge.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/CasMergeOperationResult.java
  webanno-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDaoImpl.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/AnnotationSidebarFactory.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarPanel.java
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/SuggestionViewPanel.java
Labels: Module: Annotation, ⚙️Refactoring

#1580 #1579 - Send event when action-clicking on a relation
  webanno-brat/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/annotator_ui.js
Labels: Module: Annotation, 🆕Enhancement

#1588 #1587 - Several format examples cannot be used copy-paste
  webanno-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-conll2000.adoc
  webanno-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-conll2002.adoc
  webanno-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-conll2003.adoc
  webanno-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-conll2006.adoc
  webanno-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-conll2009.adoc
  webanno-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-conll2012.adoc
  webanno-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-conllcorenlp.adoc
  webanno-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-conllu.adoc
  webanno-io-tsv/src/main/resources/META-INF/asciidoc/user-guide/webannotsv.adoc
Labels: 🐛Bug, 📖Documentation

#1590 #1589 Changing order of Tabs in Settings
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/ProjectPage.html
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/users/UsersProjectSettingsPanelFactory.java
Labels: Module: Settings, 🐛Bug

#1584 #1583 Move feedbackpanel to front
  webanno-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/css/theme/custom.less
Labels: 🆕Enhancement

#1596 #1594 Fix left sidebar when called from url
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarPanel.java
  webanno-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarTab.java
Labels: Module: Annotation, 🆕Enhancement
