Repository webanno/webanno, pull requests merged in 2020-08, with the labels that each got.

#1752 #1751 - UNMANAGED_NON_INITIALIZING_ACCESS gets added to session
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/CasStorageServiceImpl.java
  webanno-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/casstorage/CasAccessMode.java
Labels: 🐛Bug

#1758 #1757 - Re-Merge does not work anymore
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/actionbar/CuratorWorkflowActionBarItemGroup.java
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/model/SuggestionBuilder.java
  webanno-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
Labels: Module: Curation, 🐛Bug

#1762 Bugfix/1761 delete feature
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/CasStorageServiceImpl.java
Labels: 🐛Bug

#1750 #1749 Really destroy cas when deleting cas
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/CasStorageServiceImpl.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/CasHolder.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/CasStorageSession.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/PooledCasHolderFactory.java
  webanno-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/SessionManagedCas.java
  webanno-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/CasStorageServiceImplTest.java
  webanno-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/CasStorageService.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/storage/CurationDocumentService.java
  webanno-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/storage/CurationDocumentServiceImpl.java
Labels: Module: Curation, 🐛Bug

#1756 #1755 - Support definition of constraints across slot features
  pom.xml
  webanno-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/TextFeatureEditorBase.java
  webanno-constraints/pom.xml
  webanno-constraints/src/main/java/de/tudarmstadt/ukp/clarin/webanno/constraints/evaluator/Evaluator.java
  webanno-constraints/src/main/java/de/tudarmstadt/ukp/clarin/webanno/constraints/evaluator/RulesIndicator.java
  webanno-constraints/src/main/java/de/tudarmstadt/ukp/clarin/webanno/constraints/evaluator/ValuesGenerator.java
  webanno-constraints/src/main/java/de/tudarmstadt/ukp/clarin/webanno/constraints/model/Condition.java
  webanno-constraints/src/main/java/de/tudarmstadt/ukp/clarin/webanno/constraints/model/Restriction.java
  webanno-constraints/src/main/java/de/tudarmstadt/ukp/clarin/webanno/constraints/parser/ConstraintsParser.java
  webanno-constraints/src/main/jtb/ConstraintsGrammar.jtb
  webanno-constraints/src/main/resources/META-INF/asciidoc/user-guide/constraints.adoc
  webanno-constraints/src/main/resources/META-INF/asciidoc/user-guide/images/constraints.png
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/ComplexTypeTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/ConstraintsParserTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/CustomTypesTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/SymbolicRulesTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/eval/ConstraintsGeneratorTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/visitor/ConditionVisitorTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/visitor/ImportVisitorTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/visitor/ParserVisitorTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/visitor/RestrictionVisitorTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/visitor/RuleVisitorTest.java
  webanno-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/visitor/ScopeVisitorTest.java
  webanno-constraints/src/test/resources/desc/types/TestTypeSystemDescriptor.xml
  webanno-constraints/src/test/resources/rules/feature_path_in_condition.rules
  webanno-constraints/src/test/resources/rules/slot_feature_in_condition.rules
  webanno-constraints/src/test/resources/rules/visitor-test.rules
  webanno-support/pom.xml
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/uima/AnnotationBuilder.java
  webanno-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/uima/FeatureStructureBuilder.java
Labels: Module: Constraints, 🆕Enhancement

#1754 #1753 - Allow editing constraints in the settings UI
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/constraints/ProjectConstraintsPanel.html
  webanno-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/constraints/ProjectConstraintsPanel.java
Labels: Module: Constraints, 🆕Enhancement
